.father {
  display: flex;
  height: 100vh;
  gap: 10px;
  flex-direction: column; /* 축이 반전됨 */
  justify-content: center;
  align-items: flex-end;
}

.box {
  width: 100px;
  height: 100px;
  background-color: tomato;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
