.father {
  display: flex;
  height: 100vh;
  gap: 10px;
  justify-content: flex-start;
  flex-flow: row wrap;
  /*
  flex-direction: row;
  flex-wrap: wrap;
  이걸 한줄로 써버린거임
  */
}

.box {
  width: 100px;
  height: 100px;
  background-color: tomato;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
