.father {
  display: grid;
  gap: 10px;
  min-height: 50vh;
  grid-template-columns: repeat(2, 1fr) /*1fr 1fr 을 쓴것과 같은 효과를 봄*/;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-columns: 0.5fr;
  grid-auto-flow: column;
}

.child {
  background-color: tomato;
  display: flex;
  color: white;
  font-size: 28px;
  align-items: center;
  justify-content: center;
}
