.father {
  display: flex;
  height: 100vh;
  row-gap: 10px;
  column-gap: 30px;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  /* align-content: center; */
}

.box {
  width: 250px;
  height: 250px;
  background-color: tomato;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .box:nth-child(3) {
  background-color: blueviolet;
  order: 2;
}
.box:nth-child(6) {
  background-color: aqua;
  order: -1;
} */

.box:first-child {
  align-self: flex-start;
}
